@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?18097118');
  src: url('font/fontello.eot?18097118#iefix') format('embedded-opentype'),
       url('font/fontello.woff2?18097118') format('woff2'),
       url('font/fontello.woff?18097118') format('woff'),
       url('font/fontello.ttf?18097118') format('truetype'),
       url('font/fontello.svg?18097118#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?18097118#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-search:before { content: '\e800'; } /* '' */
.icon-cancel-circle:before { content: '\e801'; } /* '' */
.icon-plus-circle:before { content: '\e802'; } /* '' */
.icon-na:before { content: '\e803'; } /* '' */
.icon-celcius:before { content: '\e804'; } /* '' */
.icon-fahrenheit:before { content: '\e805'; } /* '' */
.icon-sun-inv:before { content: '\e806'; } /* '' */
.icon-cloud-sun-inv:before { content: '\e807'; } /* '' */
.icon-cloud-flash-inv:before { content: '\e808'; } /* '' */
.icon-drizzle-inv:before { content: '\e809'; } /* '' */
.icon-rain-inv:before { content: '\e80a'; } /* '' */

$orange: rgb(255, 140, 24);
$asphalt: rgb(78,77, 74);

@mixin weather-icon() {
  position: absolute;
  left: 0;
  top: 8%;

  font-family: "fontello";
}

@keyframes movesun{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;

  color: $orange;
  font-family: 'Oswald', "PT Sans Narrow", sans-serif, Arial;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;

  background: $orange;
}

#app {
  width: 85%;
  height: 95vh;
}

.app-container {
  position: relative;

  display: flex;
  flex-direction: column;

  height: 100%;
}

.error {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding: 1% 2%;

  font-size: 1.3em;

  background: red;
  color: white;

  z-index: 1000;
}

.main-header {
  display: flex;
  align-items: center;

  height: 10%;

  .logo {
    color: $asphalt;
    font-size: 2em;
    line-height: 2.1em;
    text-transform: uppercase;

    cursor: default;

    .icon-sun-inv {
      display: inline-block;
      line-height: 0;

      animation: movesun 30s linear infinite;
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  height: 90%;
  flex-grow: 1;
}

.left-col {
  display: flex;
  flex-direction: column;

  margin-right: 1%;
  padding: 2%;
  padding-right: 0;
  width: 30%;

  background: $asphalt;

  .search-container {
    position: relative;
    margin-bottom: 10%;
    margin-right: 7%;

    .helper {
      position: absolute;
      top: 100%;
      left: 0;

      color: $asphalt;
      background: $orange;
      width: 100%;

      z-index: 1000;

      .help-item {
        display: block;
        width: 100%;

        padding: 1%;
        border: none;
        border-bottom: 0.1em solid $asphalt;

        text-align: left;
        font-size: 1em;
        font-family: inherit;
        color: $asphalt;

        background: transparent;
      }
    }
  }

  .search-container input{
    box-sizing: border-box;
    width: 100%;
    padding-right: 1em;

    font-size: 1.5em;

    border: none;
    outline: none;
    color: $asphalt;

    &:focus {
      outline: none;
    }
  }

  .search-icon {
    position: absolute;
    top: 15%;
    right: -1.5%;

    background: none;
    outline: none;
    box-shadow: none;
    border: none;

    font-size: 1.1em;
    color: $asphalt;
    cursor: pointer;
  }

  .favorites {
    position: relative;
    overflow: hidden;
    height: 100%;

    .scrolling-content {
      padding-right: 7%;
      transition: 0.5s linear;
    }
  }

  .favorite-item {
    display: flex;
    justify-content: space-between;

    position: relative;

    margin-top: 10%;
    border-bottom: 0.2em solid $orange;

    font-size: 1.25em;
    line-height: 1.3em;

    cursor: pointer;
    transition: padding 0.5s;

    &.active {
      background-color: $orange;
      color: $asphalt;
      border-color: $orange;

      .delete-btn {
        color: $asphalt;
      }
    }

    &:first-child {
      margin-top: 0;
    }

    .temperature {
      position: relative;

      padding-left: 1.5em;

      .icon-celcius {
        margin-left: -0.3em;
      }

      &.Clear:after {
        content: '\e806';
        @include weather-icon;
      }
      &.Clouds:after {
        content: '\e807';
        @include weather-icon;
      }
      &.cloud-flash:after {
        content: '\e808';
        @include weather-icon;
      }
      &.Drizzle:after {
        content: '\e809';
        @include weather-icon;
      }
      &.Rain:after {
        content: '\e80a';
        @include weather-icon;
      }

    }

    .delete-btn {
      position: absolute;
      right: 0;
      top: 0;

      line-height: 1.5em;
      font-size: 0.8em;
      color: $orange;

      opacity: 0;
      transition: opacity 2s;
    }

    &:hover {
      padding-right: 1.5em;

      .delete-btn {
        opacity: 1;
      }
    }
  }
}

.content-container {
  display: flex;
  flex-direction: column;

  width: 70%;

  .map {
    position: absolute;
    top:0;
    right:0;

    width: 300px;

    background: $asphalt;
    color: $orange;

    z-index: 1000;
    .map-btn {
      display: block;

      padding: 2% 0;

      text-transform: uppercase;
      text-align: center;
    }

    .map-inp,
    .close-map {
      display: none;
    }

    .map-img {
      height: 0;

      transition: height 0.6s linear;
      overflow: hidden;

      .img {
        height: 0;
      }
    }

    .map-inp:checked + label .close-map {
      display: inline;
    }

    .map-inp:checked + label .open-map {
      display: none;
    }

    .map-inp:checked + label + .map-img {
      height: 250px;
      .img {
        height: 250px;
      }
    }
  }

  .empty-container {
    display: flex;
    align-items: center;
    justify-content: center;

    background: $asphalt;

    box-sizing: border-box;
    height: 100%;

    font-size: 2em;
  }
  .content-wrapper {
    box-sizing: border-box;
    flex-grow: 2;

    height: 80%;
    padding: 4%;
    padding-top: 1%;
    padding-bottom: 1%;

    background: $asphalt;
  }

  .city-header {
    position: relative;

    height: 10%;
    background: $orange;
    color: $asphalt;

    .city-header-name {
      font-weight: bold;
      font-size: 1.7em;
      line-height: 1.7em;
    }

    &:hover .add-to-favorite {
      opacity: 1;
    }

    .add-to-favorite {
      font-size: 1.5em;
      cursor: pointer;

      opacity: 0;
      transition: opacity 1s linear;
    }
  }

  .row-content {
    font-size: 1em;
  }

  .col-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    font-size: 0.9em;
  }

  .weather-display-item-row {
    margin-bottom: 3%;
    padding-bottom: 2%;
    border-bottom: 0.2em solid $orange;

    .day-date {
      display: inline-block;

      margin-bottom: 1%;
      margin-right: 1%;
      padding: 0 1%;

      font-size: 1.2em;
      line-height: 1.4em;
      font-weight: bold;

      background: $orange;
      color: $asphalt;
    }

    .weather-information {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      li {
        padding-bottom: 1%;

        width: 33%;
      }
    }
  }

  .weather-display-item-col {
    height: 100%;
    width: 21%;
    margin-bottom: 3%;
    border: 0.2em solid $orange;

    .day-date {
      margin-bottom: 1%;

      font-size: 1.2em;
      line-height: 1.4em;
      font-weight: bold;

      background: $orange;
      color: $asphalt;
    }

    .weather-information {
      li {
        padding-left: 1%;
        padding-bottom: 7%;
      }
    }
  }
}

.scroll-bar {
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: border-box;

  height:80px;
  width: 100%;

  background: $asphalt;

  transition: 0.3s linear;
}

.scroll {
  position: absolute;
  right: 2%;
  top: 0;

  height:100%;
  width: 3%;

  background: $orange;
}

@media screen and (max-width: 2560px) and (min-width: 1460px) {
  body {
    font-size: 28px;
    line-height: 32px;
  }
}

@media screen and (max-width: 1025px) {
  body {
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (max-width: 950px) {
  body {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 750px) {
  body {
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 650px) {
  body {
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (max-width: 550px) {
  body {
    font-size: 14px;
    line-height: 18px;
  }
  #app {
    width: 99%;
  }
  .container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .left-col,
  .content-container {
    width: 100%;
  }

  .left-col {
    height: 40%;

    padding: 5%;
    padding-right: 0;
    margin-bottom: 3%;

    .favorite-item {
      margin-top: 2%;
    }
  }

  .content-container {
    height: 10%;
    flex-grow: 1;
  }
}
